html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#visualization {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.vis-custom-time.ml {
  background-color: #ff0000;
  width: 3px;
}

.vis-item.gulag {
  background-color: #721c24;
  border-color: #58151c;
}

.vis-item.zirya {
  background-color: #d9383a;
}

.vis-item.ocean {
  background-color: #5ca1e6;
}

.vis-item.lunaria {
  background-color: #8a2be2;
}

.vis-item.f {
  background-color: #00ff6a;
}

.vis-item.reef {
  background-color: #04ff00;
}
.vis-item.wrath {
  background-color: #461313;
}