.vis-item.vis-point .vis-item-content {
  color: black !important;
}

.vis-timeline .vis-item.vis-box,
.vis-timeline .vis-item.vis-range {
  color: white;
}

.vis-timeline .vis-item.vis-box .vis-item-content,
.vis-timeline .vis-item.vis-range .vis-item-content {
  color: white;
}

.vis-timeline .vis-item a {
  color: inherit;
  text-decoration: none;
}

.vis-custom-time.ml {
  background-color: #ff0000;
  width: 3px;
}

.vis-item.gulag {
  background-color: #721c24;
  border-color: #58151c;
}

.vis-item.zirya {
  background-color: #d9383a;
}

.vis-item.ocean {
  background-color: #5ca1e6;
}

.vis-item.luna {
  background-color: #8a2be2;
}

.vis-item.f {
  background-color: #00ff6a;
}

.vis-item.reef {
  background-color: #04ff00;
}
.vis-item.wrath {
  background-color: #461313;
}
.vis.item.tvg {
  background-color: darkgreen
}
